<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="icon" href="/conntest/favicon.ico" />
    <title>Connectivity Tester API</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">Connectivity Tester API</h1>
            <p class="lead">If you see this, you probably took a wrong turn.</p>
        </div>
        <div class="container-fluid">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>