@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

$lightgreen: #00d7a0;
$mediumgreen: #00af8e;
$azure: #00e6dc;
$lightblue: #00bedc;
$midnight: #000028;
$darkblue: #00405d;
$mediumblue: #00646e;
$red: #bb0000;
$purple: #aa32be;
$white: #f8f8f8;
$yellow: #ffde66;

:export {
  lightgreen: $lightgreen;
  mediumgreen: $mediumgreen;
  azure: $azure;
  lightblue: $lightblue;
  midnight: $midnight;
  darkblue: $darkblue;
  mediumblue: $mediumblue;
  red: $red;
  purple: $purple;
  white: $white;
  yellow: $yellow;
}

.dark {
  background-color: $midnight;
  color: $white;

  a {
    color: $white;
  }

  a:visited {
    color: $white;
  }

  a:link {
    text-decoration: none;
  }
}

.active {
  a:visited {
    color: $lightgreen;
  }
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 2vh;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}